<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">My Projects</a></li>
        <li><a href="/resume">My Resume</a></li>
      </ul>
    </nav>
    <div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="https://github.com/susanschen">Github</a></li>
        <li><a href="https://www.linkedin.com/in/shu-susan-chen-51399110/">LinkedIn</a></li>
      </ul>
    </footer>
  </body>
</html>
